<% if flash[:notice]%>
	<div class='alert alert-info'>
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
		<li><a href="#tab2" data-toggle="tab">New Event</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<h1>Existing Maintenance Events</h1>
			<table class='table table-striped'>
				<thead>
					<tr>
						<th>Title</th>
						<th>Created</th>
						<th>Last Updated</th>
						<th>Live Updates</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @maintenance_events.each do |me| %>
						<tr>
							<td>
								<%= me.title %>
							</td>
							<td>
								<%= timeago(me.created_at) %>
							</td>
							<td>
								<%= timeago(me.updated_at) %>
							</td>
							<td>
								<%= me.updates.count %>
							</td>
							<td>
								<% if me.closed_at.nil? %>
									<a href="/maintenance_events/<%= me.id %>/close" class='btn btn-danger'>Stop Timer</a>
								<% else %>
									<a href="/maintenance_events/<%= me.id %>/open" class='btn btn-info'>Clear Timer</a>
								<% end %>
							</td>
							<td>
								<a class="btn" data-toggle="modal" href="#myModal-<%= me.id %>" >New Live Update</a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" id="tab2">
			<h1>New Maintenance Event</h1>
			<form class='well' action='/admin' method='POST'>
				<fieldset>
					<div class='control-group'>
						<input class='input-xlarge' type='text' placeholder='Event Title' name="maintenance_event[title]"></input>
					</div>
					<div class='control-group'>
						<textarea class='input-xlarge' rows='10' placeholder='Be descriptive about the problem...' name="maintenance_event[text]" ></textarea>
					</div>
					<div class="form-actions">
						<button class='btn btn-primary' type='submit'>Save Changes</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>

<% @maintenance_events.each do |maintenance_event| %>
	<div class="modal hide" id="myModal-<%= maintenance_event.id %>">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3>Status Update for <%= maintenance_event.title %></h3>
		</div>
		<div class="modal-body">
			<form action='/admin/<%= maintenance_event.id %>/updates/new' method="POST">
				<fieldset>
					<div class='control-group'>
						<input class='input-xlarge' type='text' placeholder='Update Title' name="update[title]"></input>
					</div>
					<div class='control-group'>
						<textarea class='input-xlarge' rows='10' placeholder='Be descriptive about the problem...' name="update[text]"></textarea>
					</div>
					<div class='control-group'>
						<label>Severity</label>
						<select name="update[severity]">
							<option>major</option>
							<option>minor</option>
							<option>good</option>
							<option>info</option>
						</select>
					</div>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">Close</a>
			<button class='btn btn-primary' type='submit'>Save Changes</button>
		</div>
			</fieldset>
		</form>
		
	</div>
<% end %>


<a href='/' class='btn'><i class='icon-arrow-left'></i> To Site Home</a>