<div class='<%= severity_classes(update.severity) %>'>
	<h3><%= update.maintenance_event.title %> - <%= update.title %></h3>
	<i><%= nicetime(update.created_at) %> - <%= timeago(update.created_at) %></i>
	<p><%= update.text %></p>
</div>